<div class="card">
    <div class="card-header">
        <!-- <script src="/socket.io/socket.ioo.js"></script> -->
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script>
           

            const socket = io("ws://localhost:3000");
            var tickers;

            socket.on("connect", () => {
            // either with send()
            socket.send("Hello from ticker!");

            // or with emit() and custom event names
            socket.emit("salutations", "Hello!", { "mr": "ticker" }, Uint8Array.from([1, 2, 3, 4]));
            });

            // handle the event sent with socket.send()
            socket.on("message", data => {
            console.log('MESSAGE DATA', data);
            });

            // handle the event sent with socket.emit()
            // socket.on("greetings", (elem1, elem2, elem3) => {
            // console.log('ELEMENTS',elem1, elem2, elem3);
            // });
            socket.on("greetings", data => {
            console.log('greetings',data);
            });
            socket.on("new", tickers => {
                var html = '';
                for(var i=0;i<tickers.length;i++){
                    html = html + `<tr>
                        <td style="width:24%; text-overflow: ellipsis;">${tickers[i]['symbol']}</td>
                        <td style="width:19%;">${tickers[i]['close']}</td>
                        <td style="width:19%;">${tickers[i]['percentChange']}</td>
                        <td style="width:19%;">${tickers[i]['high']}</td>
                        <td style="width:19%;">${tickers[i]['low']}</td>
                        </tr>`
                }
                document.getElementById("tablebody").innerHTML=html;
            });
            let j=0;
            socket.on("trick", tickers => {
                
            });
            // socket.on("connect", () => {
            // // either with send()
            // console.log('all ticker called');
            // socket.send("Hello!");

            // // or with emit() and custom event names
            // socket.emit("salutations", "Hello!", { "mr": "john" }, Uint8Array.from([1, 2, 3, 4]));
            // });
        </script>
        
        <div class="row">
            <div class="col-8">
                <h4 class="font-weight-bold">Tickers</h4>
            </div>
            <!-- <div class="col-4">
                <a href="/addConf" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i> Add Ticker</a>
            </div> -->
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            
            <thead class="table-dark">
                <tr style="font-size: 14px;">
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">CHANGE (%)</th>
                    <th scope="col">HIGH</th>
                    <th scope="col">LOW</th>
                    <!-- <th scope="col">Actions</th> -->
                </tr>
            </thead>
            <tbody id="tablebody">
                <!-- <% if(tickers.length > 0) { %>
                    <% for(let ticker of tickers) { %>
                    <tr>
                        <td><%= ticker.symbol %></td>
                        <td><%= ticker.close %></td>
                        <td><%= ticker.open %></td>
                        <td><%= ticker.high %></td>
                        <td><%= ticker.low %></td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td>No data found</td>
                    </tr>
                <% } %> -->
            </tbody>
            </table>
            
    </div>
</div>
