<div class="card">
    <div class="card-header">
        <!-- <script src="/socket.io/socket.ioo.js"></script> -->
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script>
           

            const socket = io("ws://localhost:3000");

            socket.on("connect", () => {
            // either with send()
            socket.send("Hello!");

            // or with emit() and custom event names
            socket.emit("salutations", "Hello!", { "mr": "john" }, Uint8Array.from([1, 2, 3, 4]));
            });

            // handle the event sent with socket.send()
            socket.on("message", data => {
            console.log('MESSAGE DATA', data);
            });

            // handle the event sent with socket.emit()
            socket.on("greetings", (elem1, elem2, elem3) => {
            console.log('ELEMENTS',elem1, elem2, elem3);
            });

            // socket.on("connect", () => {
            // // either with send()
            // console.log('all ticker called');
            // socket.send("Hello!");

            // // or with emit() and custom event names
            // socket.emit("salutations", "Hello!", { "mr": "john" }, Uint8Array.from([1, 2, 3, 4]));
            // });
        </script>
        
        <div class="row">
            <div class="col-8">
                <h4 class="font-weight-bold">Tickers</h4>
            </div>
            <!-- <div class="col-4">
                <a href="/addConf" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i> Add Ticker</a>
            </div> -->
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            
            <thead class="table-dark">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">CHANGE 24H</th>
                    <th scope="col">HIGH</th>
                    <th scope="col">LOW</th>
                    <!-- <th scope="col">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <% if(tickers.length > 0) { %>
                    <% for(let ticker of tickers) { %>
                    <tr>
                        <td><%= ticker.symbol %></td>
                        <td><%= ticker.close %></td>
                        <td><%= ticker.open %></td>
                        <td><%= ticker.high %></td>
                        <td><%= ticker.low %></td>
                        <!-- <td>
                            <a href="/updateConf/<%= ticker._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="/deleteConf/<%= ticker._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td> -->
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td>No data found</td>
                    </tr>
                <% } %>
                <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
            <!-- <script src="chat.js"></script> -->
            </tbody>
            </table>
            
    </div>
</div>
