<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Update Configuration</h4>
    </div>
    <div class="card-body">
        <form action="/updateConf/<%= conf._id %>" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Configuration Name</label>
                        <input type="text" class="form-control" value="<%= conf.name %>" name="name" placeholder="Enter Api key" id="name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="apiKey">API Key</label>
                        <input type="text" class="form-control" value="<%= conf.apiKey %>" name="apiKey" placeholder="Enter Api key" id="apiKey">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="secretKey">Secret Key</label>
                        <input type="text" class="form-control" value="<%= conf.secretKey %>" name="secretKey" placeholder="Enter Secret key" id="secretKey">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="margin">Margin</label>
                        <select name="margin" id="margin" class="form-control" value="<%= conf.margin %>"
                            placeholder="Select Margin">
                            <!-- <option value="">Select Margin</option> -->
                            <option value="CROSSED">CROSSED</option>
                            <!-- <option value="ISOLATED">ISOLATED</option> -->
                        </select>
                        <!-- <input type="text" class="form-control" value="<%= conf.margin %>" name="margin" placeholder="Enter Margin" id="margin"> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="leverage">Leverage</label>
                        <input type="number" class="form-control" value="<%= conf.leverage %>" name="leverage" placeholder="Enter Leverage" id="leverage">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="balanceBuffer">Balance Buffer</label>
                        <input type="number" class="form-control" value="<%= conf.balanceBuffer %>" name="balanceBuffer" placeholder="Enter Balance Buffer" id="balanceBuffer">
                    </div>
                </div>
            </div>
            <div class="" style="margin-top: 15px;">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="/allConfs" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>